
<!DOCTYPE>

  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen:400,700&display=swap" rel="stylesheet">
    
    <style type="text/css">
    body{
      background-color: whitesmoke;
    }

    .formsite{
      padding-right: 3.5em;
      padding-top: 4.875em;
    }

    h2 {
      color: rgb(255, 202, 0);  
      font-weight: bold;
      font-family: Oxygen;
      margin-bottom: 5px;
      font-size: 50px;
    }

    h4 {
      font-family: Oxygen;
      font-size:32px;
      margin-bottom: 40px;
    }

    h5 {
      font-family: Oxygen;
      font-size:24px;
      font-weight: bold;

      
    }
    span {
      font-family: Oxygen;
      font-size: 20px;
    }

    .pergunta{
      font-weight: bold;
    }

    .div-mesas{    
      padding-top: 15px;
      padding-bottom: 15px;
    }
    </style>
    <title>TRAYKER | O ROBO COLETOR</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 formsite">
          <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
              <h2>Trayker</h2>
              <h4>Off your table to the kitchen</h4>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 div-mesas" id="mesa-1-div">
                <h5 id="mesa-1-titulo">Mesa 1</h5>
                <span class="pergunta">Distância: </span><span id="ultrasonico-1"></span><br/>
                <span class="pergunta">Bandeja: </span><span id="rfid-1"></span><br/>
                <span class="pergunta">Peso: </span><span  id="peso-1"></span><br/>
                <span class="pergunta">Status: </span><span id="status-1"></span><br/>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 div-mesas" id="mesa-2-div">
                <h5 id="mesa-2-titulo">Mesa 2</h5>
                <span class="pergunta">Distância: </span><span id="ultrasonico-2"></span><br/>
                <span class="pergunta">Bandeja: </span><span id="rfid-2"></span><br/>
                <span class="pergunta">Peso: </span><span id="peso-2"></span><br/>
                <span class="pergunta">Status: </span><span id="status-2"></span><br/> 
            </div>
            <div class="col-md-3 col-lg-3 col-sm-3 div-mesas" id="mesa-3-div">
                <h5 id="mesa-3-titulo">Mesa 3</h5>
                <span class="pergunta">Distância: </span><span id="ultrasonico-3"></span><br/>
                <span class="pergunta">Bandeja: </span><span id="rfid-3"></span><br/>
                <span class="pergunta">Peso: </span><span id="peso-3"></span><br/>
                <span class="pergunta">Status: </span><span id="status-3"></span><br/>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 div-mesas">
              <h5>FILA</h5>                            
              <div id="filaHTML" class=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SCRIPTS DO BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>    
    <script type="text/javascript">
      var myVar = setInterval(myTimer, 1500);

      function myTimer(){
        const promise = obterEndereco();
            promise
                .then(dado => {
                console.log('sucesso');
                if (dado.erro) throw new Error('Erro')
                mostrarMesas(dado)
                console.log(dado);
            })
            .catch(err => {
                console.log ('---Erro');
                console.log(err.message);
            })
      }

      async function obterEndereco(){
        // let url = `https://viacep.com.br/ws/80230000/json`;
		let url = `http://10.3.141.1:8080/API`;
        const resposta = await fetch(url);
        if (!resposta.ok) throw new Error('API inválida');
        const json = await resposta.json();
        return json;
      }
      
      function mostrarMesas(dado) {
        $('#ultrasonico-1').html(dado.mesa1.ultrassonico);
        $('#rfid-1').html(dado.mesa1.rfid);
        $('#peso-1').html(dado.mesa1.peso);
        $('#status-1').html(dado.mesa1.pronta);
        $('#mesa-1-div').css('opacity', 1.0 - dado.mesa1.idade * 0.065);

		    $('#ultrasonico-2').html(dado.mesa2.ultrassonico);
        $('#rfid-2').html(dado.mesa2.rfid);
        $('#peso-2').html(dado.mesa2.peso);
        $('#status-2').html(dado.mesa2.pronta);
        $('#mesa-2-div').css('opacity', 1.0 - dado.mesa2.idade * 0.065);

        $('#ultrasonico-3').html(dado.mesa3.ultrassonico);
        $('#rfid-3').html(dado.mesa3.rfid);
        $('#peso-3').html(dado.mesa3.peso);
        $('#status-3').html(dado.mesa3.pronta);
        $('#mesa-3-div').css('opacity', 1.0 - dado.mesa3.idade * 0.065);

        if (dado.mesa1.peso > 315){
          document.getElementById("mesa-1-div").style.backgroundColor = "rgba(236, 14, 14, 0.47)"; 
        }else{
          document.getElementById("mesa-1-div").style.backgroundColor = "whitesmoke";  
        }
        if (dado.mesa2.peso > 315){
          document.getElementById("mesa-2-div").style.backgroundColor = "rgba(236, 14, 14, 0.47)"; 
        }else{
          document.getElementById("mesa-2-div").style.backgroundColor = "whitesmoke"; 
        }
        if (dado.mesa3.peso > 315){
          document.getElementById("mesa-3-div").style.backgroundColor = "rgba(236, 14, 14, 0.3)";         
        }else{
          document.getElementById("mesa-3-div").style.backgroundColor = "whitesmoke";           
        }

        var fila = dado.fila;//"MESA1, MESA2, MESA3";
        //var resultado = fila.split(", ");

        // Delete child
        var elemento_pai = document.getElementById("filaHTML");
        elemento_pai.innerHTML = ""; 

        fila.forEach(processa);   
        //console.log(fila);
      }

      function processa(element, index, array){
        // Buscar elemento pai
        var elemento_pai = document.getElementById("filaHTML");        

        // Criar elemento
        var titulo = document.createElement('h5');

        // Criar o nó de texto
        var elemento = element.slice(0, 4) + " " + element.slice(4);

        var texto = document.createTextNode(elemento);

        // Anexar o nó de texto ao elemento h1
        titulo.appendChild(texto);

        // Agora sim, inserir (anexar) o elemento filho (titulo) ao elemento pai (body)
        elemento_pai.appendChild(titulo);
      
      }

    </script>
  </body>
</html>
